@import "../variables";

.button {
  display: inline-block;

  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out,
    border-color $duration ease-in-out;
  border: 1px solid transparent;
  @include noselect();

  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  &:active {
    transform: translateY(1px);
  }

  &--outline {
    background-color: transparent;
    border-color: $dark-medium-clr;
    &,
    span {
      color: $dark-medium-clr;
    }

    svg {
      path {
        fill: $dark-medium-clr;
      }
    }

    &:hover {
      box-shadow: 1px 2px 0px 1px #ea5f97;
    }
  }

  &--add {
    svg {
      margin-right: 2px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }

    &:hover {
      i {
        background-color: darken($primary-clr, 5%);
      }
    }

    i {
      display: inline-block;
      border-radius: 30px;
      background-color: $primary-clr;
      color: $light-clr;
      font-weight: 600;
      width: 22px;
      height: 22px;
      font-style: normal;
      font-size: 13px;
      line-height: 22px;
      position: relative;
      top: -1px;
      left: 3px;
    }
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: $primary-clr;
    margin-left: 14px;
    margin-right: 14px;
  }

  &--cart {
    display: flex;
    align-items: center;
    padding: 0.3em 1em;
    border: 1px solid $primary-clr;
    border-radius: 10px;

    background-color: transparent;

    svg {
      path {
        stroke: $dark-medium-clr;
      }
      margin-right: 8px;
      margin-bottom: 1px;
    }

    span {
      color: $dark-medium-clr;
      font-weight: 600;
      font-size: 14px;
    }

    &:hover {
      background-color: $primary-clr;

      &,
      span {
        color: $light-clr;
      }

      svg {
        path {
          stroke: $light-clr;
        }
      }

      .button__delimiter {
        background-color: $light-clr;
      }
    }

    &:active {
      background-color: darken($primary-clr, 8%);
    }
  }

  &--pay {
    background-color: transparent;
    color: $dark-medium-clr;
    font-size: $fs--400;
    border: 1px solid $dark-medium-clr;
    font-family: $ff-serif;

    &:hover {
      color: $light-clr;
      background-color: $primary-clr;
    }

    &:active {
      background-color: darken($primary-clr, 10%);
    }
  }
}
