@import "../variables";

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    li {
      background-color: $secondary-clr;
      padding: 0.8em 1.75em;
      border-radius: 20px;

      font-weight: $fw-bold;
      font-family: $ff-serif;
      font-size: $fs--400;
      color: $dark-medium-clr;

      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken($secondary-clr, 2%);
      }

      &:active {
        background-color: darken($secondary-clr, 5%);
      }

      &.active {
        background-color: darken($secondary-clr, 40%);
        color: $light-clr;
      }
    }
  }
}
