@import "../variables";

.header {
  padding: 10px 0;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    justify-content: flex-end;

    flex-basis: 58%;
    h1 {
      color: $dark-clr;
      font-size: $fs--600;
      font-family: $ff-cursive;
      font-weight: 400;
    }
  }
}
