$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

/*---------------colors----------------*/
$light-clr: rgba(255, 255, 255, 1);
$dark-clr: rgba(0, 0, 0, 1);
$dark-medium-clr: rgba(71, 71, 71, 1);
$dark-light-clr: rgba(110, 110, 110, 1);
$primary-clr: rgba(234, 95, 151, 1);
$secondary-clr: rgba(220, 236, 241, 1);

/*---------typography-----------------*/
$ff-cursive: "Offside", cursive;
$ff-serif: "Arsenal", sans-serif;

$fw-regular: 400;
$fw-bold: 600;

$fs--600: 2.25rem;
$fs--500: 1.25rem;
$fs--400: 1rem;
$fs--300: 0.875rem;

$container-width: 90%;

$duration: 0.15s;
