@import "./variables";
@import "./libs/normalize";

@import "./components/all";

body {
  // background-color: $light-clr;

  background-image: url("../../public/img/background.jpg");
  background-size: contain;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;

  margin: 40px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 30px 0;
  max-width: $container-width;
  margin: 0 auto;

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding-inline: 1rem;
    gap: 1.8rem;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;

    @media (max-width: 624px) {
      justify-content: center;
      .categories {
        width: 500px;
        overflow: auto;
      }
    }
  }

  &__title {
    margin: 35px 0;
    font-size: $fs--600;
    font-family: $ff-serif;
    color: $dark-medium-clr;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: darken($secondary-clr, 10%);
}
