.search {
  position: relative;
  width: 30%;
  text-align: end;

  @media (max-width: 800px) {
    display: none;
  }

  img {
    position: absolute;
    right: 0;
    top: -0.5em;
    height: 1em;
    width: 1em;
    cursor: pointer;
  }

  input {
    outline: none;
    border: none;
    background-color: transparent;
    max-width: 70px;
    overflow-x: auto;
  }
}
